@font-face {
    font-family: gotham_light;
    src: url(../font/Gotham-Light.ttf);
}
@font-face {
    font-family: gotham_thin;
    src: url(../font/Gotham-Thin.ttf);
}
@font-face {
    font-family: gotham_book;
    src: url(../font/Gotham-Book.ttf);
}
@font-face {
    font-family: gotham_med;
    src: url(../font/Gotham-Medium.ttf);
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
    font-family: gotham_book, Arial, sans-serif;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* end reset browser styles */
h2{
	font:38px gotham;	
}

#Lectures_Nav h3, #Content_Quick_Nav h3 {
	text-align:center;			
	background: rgba(191,220,248,1);
	background: -moz-linear-gradient(left, rgba(191,220,248,1) 0%, rgba(132,183,241,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(191,220,248,1)), color-stop(100%, rgba(132,183,241,1)));
	background: -webkit-linear-gradient(left, rgba(191,220,248,1) 0%, rgba(132,183,241,1) 100%);
	background: -o-linear-gradient(left, rgba(191,220,248,1) 0%, rgba(132,183,241,1) 100%);
	background: -ms-linear-gradient(left, rgba(191,220,248,1) 0%, rgba(132,183,241,1) 100%);
	background: linear-gradient(to right, rgba(191,220,248,1) 0%, rgba(132,183,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfdcf8', endColorstr='#84b7f1', GradientType=1 );
	font:25px Gotham;
}
header{	
	background-color:rgba(219,219,219,.8);
	position:fixed;
	width:100%;	
}
header h2{	
	width:360px;	
	display:block;	
	text-align:center;
	font: 28px "Century Gothic";		
}
header nav{	
	width:450px;
	text-align:center;
	float:right;	
	margin:-72px 150px 0 ;
}
 header nav li {
 	display:inline-block;
 	
 	font:1em arial; 	
 	padding:28px 5px; 	
 }
 header nav li:hover{
 	background-color:blue;
 }
 #search_box{
 	background-color:rgba(219,219,219,.8);	
 	position:fixed;
 	width:100%;
 	top:75px;
 	padding:5px;
 }
 input[type="text"] {
 	width:300px;
 	background:url(../img/search.png)center right no-repeat;
 	background-color:#FFF;
 	-webkit-box-shadow: 0px 0px 0px 2px rgba(120,145,255,1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(120,145,255,1);
	box-shadow: 0px 0px 0px 2px rgba(120,145,255,1);
	border-radius:5px;
	margin-left:19px;
	padding:2px;
 }

 input[type="submit"]:active{
 	box-shadow:inset 0 0 0 rgba(0,0,0,.1)
 }

#content{	
	padding:150px 0;
}
article{
	width:950px;
	margin: 35px auto 15px;	
	padding:10px 1px;
	/*
	rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );	
	*/
	border-bottom:2px dashed black;
}
.first_article{
    margin-top: 0;
}
article p{	
	font-size: 18px;
    margin: 10px 0;
}
article ul{
    font-size: 18px;
	margin:10px 0;
	width:auto;
    list-style-type: disc;
}
.sublist{
    font-size: 16px;
    margin: 10px;
    width:auto;
    list-style-type:disc;
}
article h3{
    font-size: 20px;
    font-weight:bold;
    margin: 15px 0 10px 0;
}
#Lectures_Nav {
	width:250px;
	float:left;
	position:fixed;
	font:15px "Century Gothic";
	rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
#Lectures_Nav li, #Content_Quick_Nav li{
	list-style:none;
	margin-bottom:5px;
}
#Lectures_Nav, #Content_Quick_Nav {
	rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
#Content_Quick_Nav{
	width:250px;
	margin-top:270px;		
	position:fixed;
	font:15px "Century Gothic";
}
footer{
	background-color:rgba(219,219,219,.8);
	padding:8px;
}
#current{	
	background-color:blue;
}
a {
	text-decoration: none;
	color:rgba(5,115,250,.8);		
}
a:hover{			
		background-color:rgba(5,115,250,.4);
}
.hightlight{
    font-weight:bold;
}