/*
CLIENT HOME PAGE CSS STYLING
*/

/* FONT FACES :D */

@font-face {
    font-family: gotham_light;
    src: url(../font/Gotham-Light.ttf);
}
@font-face {
    font-family: gotham_thin;
    src: url(../font/Gotham-Thin.ttf);
}
@font-face {
    font-family: gotham_book;
    src: url(../font/Gotham-Book.ttf);
}
@font-face {
    font-family: gotham_med;
    src: url(../font/Gotham-Medium.ttf);
}
/* COLOUR PALETTE */

/*
    #374E5A
    #5A7B6C
    #8FB87F
    #D5FF9B
    #FFFFF1 
*/

html {
    overflow: scroll;
}
body {
    font-size: 16px;
    font-family: gotham_book, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}
p {
    padding-bottom: 2em;
}
a {
    color: inherit;
    text-decoration: none;
}
.clear {
    clear: both;
}
/*  div and class styles */

#notes {
    height: 100%;
    float: left;
    width: 55%;
}
.resources {
    height: 100%;
    float: right;
    width: 42%;
}
/* PHONE STYLING */

@media screen and (max-width: 480px) {
    /*
    ** HEADER STYLING
    */
    header {
        background: url(../img/darkBG.jpg);
        color: #FFFFF1;
        text-align: center;
        padding: 0.2em;
    }
    header section {
        font-size: 1.5em;
        padding: 0.7em;
        font-family: gotham_book;
    }
    header section span {
        color: #D5FF9B;
    }
    nav li {
        display: block;
        background: #5A7B6C;
        border-top: 1px solid #374E5A;
        border-bottom: 0.5px solid #374E5A;
        text-transform: uppercase;
        font-family: gotham_thin;
    }
    nav a {
        display: block;
        padding: 0.5em 0;
    }
    /*
    ** MIDDLE STYLING
    */
    #middle {
        background: #8FB87F;
        color: #eee;
    }
    #middle h2 {
        text-align: center;
        padding: 1em;
        font-size: 1.7em;
        font-family: gotham_med;
    }
    #middle p {
        line-height: 1.4em;
        padding: 0 1em 1em;
    }
    #middle ul {
        text-align: center;
        color: #374E5A;
        padding:1em 0;
    }
    #middle li h3 {
        font-size: 1.4em;
    }
    #middle li p {
        padding:0.5em 0;
    }
    /* WIREFRAME PAGE (wireframe.html) */
    #wireframeContainer .crop-container {
        width: 100%;
        height: 650px;
        margin: 1%;
        float: left;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #wireframeContainer div {
        width: 100%;
        height:350px;
    }
    #wireframeContainer h3 {
        text-align:center;
        font-size:1.4em;
        padding:0.4em 0;
        margin:0.4em 0;
        background:#5A7B6C;
        color:white;
    }
    #wf1 {
        background: url(../img/wire1.jpg);
        background-size: 100%;
    }
    #wf2 {
        background: url(../img/wire2.jpg);
        background-size: 100%;
    }
    #wf3 {
        background: url(../img/wire3.png);
        background-size: 100%;
    }
    #wf4 {
        background: url(../img/wire4.jpg);
        background-size: 100%;
    }
    #finalWireframeContainer .crop-container {
        width: 100%;
        height: 480px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #finalWf {
        background: url(../img/finalWire.jpg);
        background-size: 100%;
    }
    /* REDESIGN PAGE (redesign.html) */
    #middle #reDesignContainer ul {
        width:80%;
        margin:0.5em auto; 
        list-style-type:square;
        text-align:left;
    }
    #middle article.reDesignImg {
        background: #5A7B6C;
        border-top: 1px dashed white;
        border-bottom: 1px dashed white;
        margin: 0.2em 0;
    }
    .reDesignImg .crop-container {
        width: 100%;
        height: 310px;
        display:none;
    }
    /*
    ** FOOTER STYLING 
    */
    footer {
        background: #374E5A;
        color: #FFFFF1;
        text-transform: uppercase;
        text-align: center;
    }
}
/* TABLET STYLING */

@media screen and (min-width: 481px) and (max-width: 919px) {
    /*
    ** HEADER STYLING
    */
    header {
        background: url(../img/darkBG.jpg);
        color: #FFFFF1;
        text-align: center;
        border-bottom: 3px solid #5A7B6C;
    }
    header section {
        font-size: 1.5em;
        padding: 0.7em;
        font-family: gotham_book;
    }
    header section span {
        color: #D5FF9B;
    }
    nav {} nav ul {
        text-align: center;
    }
    nav li {
        background: #5A7B6C;
        color: #FFFFF1;
        display: inline-block;
        padding: 0 0.3%;
        text-transform: uppercase;
        font-family: gotham_thin;
    }
    nav a {
        display: block;
        padding: 0.5em 0;
    }
    /*
    ** MIDDLE STYLING
    */
    #middle {
        background: url(../img/whiteBG.png);
        color: #5A7B6C;
    }
    #middle h2 {
        text-align: center;
        padding: 1em;
        font-size: 1.7em;
        font-family: gotham_med;
    }
    #middle p {
        line-height: 1.4em;
        padding: 0 1em 1em;
    }
    #middle ul {
        text-align: center;
        color: #374E5A;
        padding:1em 0;
    }
    #middle li h3 {
        font-size: 1.4em;
    }
    #middle li p {
        padding:0.5em 0;
    }
    /* WIREFRAME PAGE (wireframe.html) */
    #wireframeContainer .crop-container {
        width: 100%;
        height: 650px;
        margin: 1%;
        float: left;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #wireframeContainer div {
        width: 100%;
        height:400px;
    }
    #wireframeContainer h3 {
        text-align:center;
        font-size:1.4em;
        padding:0.4em 0;
        margin:0.4em 0;
        background:#5A7B6C;
        color:white;
    }
    #wf1 {
        background: url(../img/wire1.jpg);
        background-size: 100%;
    }
    #wf2 {
        background: url(../img/wire2.jpg);
        background-size: 100%;
    }
    #wf3 {
        background: url(../img/wire3.png);
        background-size: 100%;
    }
    #wf4 {
        background: url(../img/wire4.jpg);
        background-size: 100%;
    }
    #finalWireframeContainer .crop-container {
        width: 100%;
        height: 480px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #finalWf {
        background: url(../img/finalWire.jpg);
        background-size: 100%;
    }
    /* REDESIGN PAGE (redesign.html) */
    #middle #reDesignContainer ul {
        width:60%;
        margin:0.5em auto; 
        list-style-type:square;
        text-align:left;
    }
    #middle article.reDesignImg {
        background: #5A7B6C;
        border-top: 1px dashed white;
        border-bottom: 1px dashed white;
        margin: 0.2em 0;
    }
    #middle article.reDesignImg h2 {
        color:#D5FF9B;
    }
    #middle article.reDesignImg span {
        color: white;
    }
    /*
    ** FOOTER STYLING 
    */
    footer {
        background: #374E5A;
        color: #FFFFF1;
        text-transform: uppercase;
        text-align: center;
    }
}
/* DESKTOP STYLING */

@media screen and (min-width: 920px) {
    /*
    ** HEADER STYLING
    */
    header {
        background: url(../img/darkBG.jpg);
        color: #FFFFF1;
        text-align: left;
        border-bottom: 3px solid #5A7B6C;
        height: 50px;
        position: relative;
        top: -0.5em;
    }
    header section {
        font-size: 1.5em;
        padding: 0.7em;
        font-family: gotham_book;
        float: left;
    }
    header section span {
        color: #D5FF9B;
    }
    nav ul {
        display: block;
        text-align: right;
    }
    nav li {
        background: none;
        color: #FFFFF1;
        display: inline-block;
        text-transform: uppercase;
        font-family: gotham_thin;
    }
    nav a {
        display: block;
        padding: 0.5em 0.5em;
        height: 35px;
    }
    nav a:hover {
        background: #5A7B6C;
    }
    nav span {
        position: relative;
        top: 35%;
    }
    /*
    ** MIDDLE STYLING
    */
    #middle {
        background: url(../img/whiteBG.png);
        color: #5A7B6C;
    }
    #middle h2 {
        text-align: center;
        padding: 1em;
        font-size: 1.7em;
        font-family: gotham_med;
    }
    #middle p {
        line-height: 1.4em;
        padding: 0 1em 1em;
    }
    #middle ul {
        text-align: center;
        color: #374E5A;
        padding:1em 0;
    }
    #middle li h3 {
        font-size: 1.4em;
    }
    #middle li p {
        padding:0.5em 0;
    }
    /* WIREFRAME PAGE (wireframe.html) */
    #wireframeContainer .crop-container {
        width: 48%;
        min-height:620px;
        margin: 1%;
        float: left;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #wireframeContainer div {
        width: 100%;
        height:400px;
    }
    #wireframeContainer h3 {
        text-align:center;
        font-size:1.4em;
        padding:0.4em 0;
        margin:0.4em 0;
        background:#5A7B6C;
        color:white;
    }
    #wf1 {
        background: url(../img/wire1.jpg);
        background-size: 100%;
    }
    #wf2 {
        background: url(../img/wire2.jpg);
        background-size: 100%;
    }
    #wf3 {
        background: url(../img/wire3.png);
        background-size: 100%;
    }
    #wf4 {
        background: url(../img/wire4.jpg);
        background-size: 100%;
    }
    #finalWireframeContainer .crop-container {
        width: 100%;
        height: 850px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #finalWf {
        background: url(../img/finalWire.jpg);
        background-size: 100%;
    }
    /* REDESIGN PAGE (redesign.html) */
    
    #middle #reDesignContainer ul {
        width:60%;
        margin:0.5em auto;  
        list-style-type:square;
        text-align:left;
    }
    #middle article.reDesignImg {
        width: 31.3%;
        min-height: 100%;
        float: left;
        background: #5A7B6C;
        border-top: 1px dashed white;
        border-bottom: 1px dashed white;
        margin: 0.2em 1%;
    }
    #middle article.reDesignImg h2 {
        color:#D5FF9B;
    }
    #middle article.reDesignImg span {
        color: white;
    }
    .reDesignImg .crop-container {
        width: 100%;
        height: 310px;
    }
    .reDesignImg .crop-container img {
        width: 100%;
    }
    /*
    ** FOOTER STYLING 
    */
    footer {
        background: #374E5A;
        color: #FFFFF1;
        text-transform: uppercase;
        text-align: center;
    }
}
/* DESKTOP STYLING */

@media screen and (min-width: 1280px) {
    body {
        background: url(../img/whiteBG.png);
    }
    header section {
        margin-left: 9%;
    }
    nav ul {
        margin-right: 10%;
    }
    #middle {
        width: 80%;
        margin: 0 auto;
    }
}